body {
    margin: 0px;
}

/* Heading and link section */

nav {
    background-color: #333;
    height: 80px;
    display: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

li {
    border: 0.5px solid white;
    padding: 15px;
    margin-top: 10px;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

/* First section css */

.first-section {
    background-image: url(ocean.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    min-width: 500px;
}

.first-section h1 {
    margin-top: 0px;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Second section css */

.second-section {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.second-section-containers {
    width: 305px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #F2F2F2;
    height: 550px;
    font-size: 20px;
}

.section-description {
    width: 335px;
}

.second-img-section {
    width: 305px;
    height: 180px;
}

/* Third section css */

.third-section {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.third-section-containers {
    width: 365px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #F2F2F2;
    height: 590px;
    font-size: 20px;
}

.third-img-section {
    width: 365px;
    height: 180px;
}

/* Fourth section css */

.fourth-section {
    background-image: url(samuel-ferrara-1527pjeb6jg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Fifth section css */

.fifth-section {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 500px;
}

.fifth-section-containers {
    width: 250px;
    height: 500px;
    background-color: #F2F2F2;
    margin-bottom: 35px;
}

.fifth-img-section {
    width: 250px;
    height: 305px;
}

/* Sixth section css */

.sixth-section {
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixth-section-container {
    background-color: #F2F2F2;
    width: 390px;
    height: 850px;
}

.sixth-img-section {
    width: 390px;
}

.sixth-section-description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Seventh section css */

.seventh-section {
    background-image: url(alex-duffy-_RdlZrVKeWQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    min-width: 500px;
}

.seventh-section-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    display: block;
    width: 350px;
    margin-bottom: 15px;
}

.info-box {
    display: block;
    width: 350px;
    margin-bottom: 15px;
}

/* Eigth section css */

.eigth-section {
    text-align: center;
    min-width: 500px;
}

.eigth-section-container {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

footer {
    text-align: center;
    min-width: 500px;
}

footer p {
    width: 390px;
    margin-right: auto;
    margin-left: auto;
}